In [2]:
import pandas as pd

#fetch file of results scraped from webpages
dfresults = pd.read_csv ('eplscores plus halftimes.csv').fillna('0')

#function to work out points for results
def resultpoints (hresult, aresult):

    if hresult == aresult:
        return 1
    elif hresult > aresult:
        return 3
    elif hresult < aresult:
        return 0

#get columns of points for each match by applying function
dfresults ['Homepoints'] = dfresults.apply(lambda x: resultpoints(x ['homeresult'],x ['awayresult']),axis=1)
dfresults ['Awaypoints'] = dfresults.apply(lambda x: resultpoints(x ['awayresult'],x ['homeresult']),axis=1)

dfresults ['HTHomepoints'] = dfresults.apply(lambda x: resultpoints(x ['homehalftime'],x ['awayhalftime']),axis=1)
dfresults ['HTAwaypoints'] = dfresults.apply(lambda x: resultpoints(x ['awayhalftime'],x ['homehalftime']),axis=1)

#aggregate matches into total points for each team
hpoints = dfresults.groupby('home').Homepoints.sum().reset_index(name="Home_FT_pts").rename(columns={'home':'team'})
apoints = dfresults.groupby('away').Awaypoints.sum().reset_index(name="Away_FT_pts").rename(columns={'away':'team'})

HThpoints = dfresults.groupby('home').HTHomepoints.sum().reset_index(name="Home_HT_pts").rename(columns={'home':'team'})
HTapoints = dfresults.groupby('away').HTAwaypoints.sum().reset_index(name="Away_HT_pts").rename(columns={'away':'team'})

#create a dataframe with the aggregated data
ap3 = hpoints.merge(apoints, on ='team').merge(HThpoints, on ='team' ).merge(HTapoints, on ='team')

#add columns to add up the points
ap3['FT_Points'] = ap3.Home_FT_pts + ap3.Away_FT_pts
ap3['HT_Points'] = ap3.Home_HT_pts + ap3.Away_HT_pts
ap3['Diff'] = ap3.FT_Points - ap3.HT_Points

#print table sorted by half time points
ap3.sort_values('HT_Points', ascending = False)

,team,Home_FT_pts,Away_FT_pts,Home_HT_pts,Away_HT_pts,FT_Points,HT_Points,Diff
9,Liverpool,33,25,30,17,58,47,11
11,Manchester Utd,19,12,20,17,31,37,-6
7,Everton,17,8,17,17,25,34,-9
10,Manchester City,25,19,17,16,44,33,11
16,Tottenham,20,10,15,17,30,32,-2
1,Aston Villa,14,7,15,17,21,32,-11
5,Chelsea,14,22,12,18,36,30,6
13,Norwich City,9,5,22,5,14,27,-13
3,Brighton,16,8,14,13,24,27,-3
8,Leicester City,23,22,11,15,45,26,19
14,Sheffield Utd,14,15,14,11,29,25,4
18,West Ham Utd,10,12,17,7,22,24,-2
17,Watford,13,6,12,12,19,24,-5
0,Arsenal,16,11,18,6,27,24,3
6,Crystal Palace,15,13,12,12,28,24,4
15,Southampton,11,14,8,15,25,23,2
2,Bournemouth,10,10,11,10,20,21,-1
12,Newcastle Utd,16,9,11,9,25,20,5
4,Burnley,15,9,9,9,24,18,6
19,Wolverhampton,16,14,10,7,30,17,13

So Norwich would be comfortably mid table, and within reach of European places, if all the matches had stopped at half time.

In [3]:
#print table sorted by difference between half time and full time points
ap3.sort_values('Diff', ascending = False)

,team,Home_FT_pts,Away_FT_pts,Home_HT_pts,Away_HT_pts,FT_Points,HT_Points,Diff
8,Leicester City,23,22,11,15,45,26,19
19,Wolverhampton,16,14,10,7,30,17,13
9,Liverpool,33,25,30,17,58,47,11
10,Manchester City,25,19,17,16,44,33,11
4,Burnley,15,9,9,9,24,18,6
5,Chelsea,14,22,12,18,36,30,6
12,Newcastle Utd,16,9,11,9,25,20,5
6,Crystal Palace,15,13,12,12,28,24,4
14,Sheffield Utd,14,15,14,11,29,25,4
0,Arsenal,16,11,18,6,27,24,3
15,Southampton,11,14,8,15,25,23,2
2,Bournemouth,10,10,11,10,20,21,-1
16,Tottenham,20,10,15,17,30,32,-2
18,West Ham Utd,10,12,17,7,22,24,-2
3,Brighton,16,8,14,13,24,27,-3
17,Watford,13,6,12,12,19,24,-5
11,Manchester Utd,19,12,20,17,31,37,-6
7,Everton,17,8,17,17,25,34,-9
1,Aston Villa,14,7,15,17,21,32,-11
13,Norwich City,9,5,22,5,14,27,-13

So Norwich are the worst at maintaining a half time point advantage. Leicester are the best. Norwich are 32 points worse than Leicester at this.
Does this mean that if Norwich were as good at improving on the first half as Leicester, they would be 32 points better off? Not sure how that works.